<!doctype html>
<html>
    <head>
        <title>{% block title %}Share Search{% endblock %}</title>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" type="text/css">
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a href="{% url "home" %}" class="brand">
                        <img src="{{ STATIC_URL }}img/logo.png">
                    </a>
                    <ul class="nav">
                        <li><a href="{% url "reviews:store_list" %}">Stores</a></li>
                        <li><a href="{% url "reviews:product_list" %}">Products</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url "site:logout" %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url "site:login" %}">Log In</a></li>
                            <li><a href="{% url "site:register" %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
