.brand img {
    max-height: 80px;
}

.nav {
    position: relative;
    top: 30px;
    font-size: 1.3em;
    padding-left: 20px;
}

.grid .col {
    margin-left: 0;
    text-align: center;
    height: 50px;
}

.grid .col a {
    height: 100%;
    width: 100%;
    padding: 15px 10px 0 10px;
}

.mason-item {
  width: 200px;
  margin: 10px;
  float: left;
}
