{% extends "_layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super}} - Log In
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset4 well">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn" value="Log In">
            </form>
            <a href="{% url "site:register" %}">Don't have an account? Register here!</a>
        </div>
    </div>
{% endblock %}
