{% extends "_layouts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} - Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset4 well">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="button" value="Register">
            </form>
        </div>
    </div>
{% endblock %}
