{% extends "_layouts/base.html" %}

{% block title %}{{ block.super }} - {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <hgroup class="span12">
            <h1>{{ object.name }}</h1>
            {% if user.is_authenticated %}
                <p>
                    Product details not quite right?
                    <a href="{% url "reviews:product_edit" object.id %}" class="btn btn-inverse">Edit Product</a>
                </p>
            {% endif %}
        </hgroup>
    </div>
    <div class="row">
        <div class="span4">
            <div class="row-fluid">
                <div class="span12">
                    <img src="{{ object.image.url }}">
                </div>
            </div>
        </div>
        <div class="span8">
            {{ object.description }}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <center>List of stores with the product...</center>
        </div>
    </div>
{% endblock %}
