{% extends "_layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="offset4 span4 well">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn" value="{% if object %}Edit{% else %}Create{% endif %} Product">
            </form>
        </div>
    </div>
{% endblock %}
