{% extends "_layouts/base.html" %}
{% load gridify %}

{% block title %} {{ block.super }} - Products{% endblock %}

{% block content %}
    {% if object_list %}
        <div class="row">
            <div class="span9 offset2">
                <h1>{{ object_list.count }} products found</h1>
                {% if user.is_authenticated %}
                    <p>
                        Not seeing the product you're looking for? Add a product now!
                        <a href="{% url "reviews:product_create" %}" class="btn btn-inverse">Add a product</a>
                    </p>
                {% else %}
                    <p>
                        Register now to get started adding products
                        <a href="{% url "site:register" %}" class="btn btn-inverse">Register</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if object_list %}
            {% gridify object_list 3 as grid %}
            <div class="grid">
                {% for row in grid %}
                    <div class="row">
                        <div class="offset2">
                            {% for column in row %}
                                <div class="span3">
                                    <a href="{{ column.get_absolute_url }}">
                                        <img src="{{ column.image.url }}">
                                        <center><a href="{{ column.get_absolute_url }}" class="btn btn-block">{{ column.name }}</a></center>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="offset1 span12">
                <h1>No results found</h1>
                {% if user.is_authenticated %}
                    <p>
                        Not seeing the product you're looking for? Add a product now!
                        <a href="{% url "reviews:product_create" %}" class="btn btn-inverse">Add a product</a>
                    </p>
                {% else %}
                    <p>
                        Register now to get started adding products
                        <a href="{% url "site:register" %}" class="btn btn-inverse">Register</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
