{% extends "_layouts/base.html" %}
{% load gridify %}

{% block title %} {{ block.super }} - Stores{% endblock %}

{% block content %}
    {% if object_list %}
        <div class="row">
            <div class="span9 offset2">
                <h1>{{ object_list.count }} stores found</h1>
                {% if user.is_authenticated %}
                    <p>
                        Not seeing the store you're looking for? Add a store now!
                        <a href="{% url "reviews:store_create" %}" class="btn btn-inverse">Add a store</a>
                    </p>
                {% else %}
                    <p>
                        Register now to get started adding stores
                        <a href="{% url "site:register" %}" class="btn btn-inverse">Register</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if object_list %}
            {% gridify object_list 3 as grid %}
            <div class="grid">
                {% for row in grid %}
                    <div class="row">
                        <div class="offset2">
                            {% for column in row %}
                                <div class="span3">
                                    <img src="{{ column.image.url }}">
                                    <a class="btn btn-block" href="{{ column.get_absolute_url }}">
                                        {{ column.name }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="offset1 span12">
                <h1>No results found</h1>
                {% if user.is_authenticated %}
                    <p>
                        Not seeing the store you're looking for? Add a store now!
                        <a href="{% url "reviews:store_create" %}" class="btn btn-inverse">Add a store</a>
                    </p>
                {% else %}
                    <p>
                        Register now to get started adding stores
                        <a href="{% url "site:register" %}" class="btn btn-inverse">Register</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
