{% extends "_layouts/base.html" %}
{% load gridify %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <hgroup class="span12">
            <h1>{{ object.name }}</h1>
            {% if user.is_authenticated %}
                <p>
                    Store details not quite right?
                    <a href="{% url "reviews:store_edit" object.id %}" class="btn btn-inverse">Edit Store</a>
                </p>
            {% endif %}
        </hgroup>
    </div>
    <div class="row">
        <div class="span4">
            <div class="row-fluid">
                <div class="span12">
                    <img src="{{ object.image.url }}">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <a href="#" class="btn btn-block btn-success">Promote</a>
                </div>
            </div>
        </div>
        <div class="span8">
            {{ object.description }}
        </div>
    </div>
    <div class="row">
        <h1 class="span12">Photo</h1>
    </div>
    {% if object.photos.count %}
    <div class="row">
        <h3 class="span12">
            {% if user.is_authenticated %}<a href="#add-photo" data-toggle="modal">Add a photo</a>{% else %}<a href="{% url "site:register" %}">Register to add a photo.</a>{% endif %}
        </h3>
    </div>
        <div class="gallery">
            {% gridify object.photos.all 4 as photos %}
            {% for row in photos %}
                <div class="row">
                    {% for photo in row %}
                        <div class="span3">
                            <img src="{{ photo.image.url }}">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="span12">
                    <h3>No photos. {% if user.is_authenticated %}Care to <a href="#add-photo" data-toggle="modal">add one?</a>{% else %}<a href="{% url "site:register" %}">Register to add one.</a>{% endif %}</h3>
            </div>
        </div>
    {% endif %}
    <div class="modal hide" id="add-photo">
        <div class="modal-header">
            <h2>Add a Photo</h2>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" action="{% url "reviews:photo_create" %}">
                {% csrf_token %}
                {{ photo_form|crispy }}
                <input type="hidden" name="store" value="{{ object.id }}">
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Nevermind</button>
            <button class="btn btn-primary submit-button" data-dismiss="modal">Add Photo</button>
        </div>
    </div>
{% endblock %}
