{% extends "_layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<center><img src="{{ STATIC_URL }}img/Slide 1.png"></center>
    </div>
    <div class="item">
    	<center><img src="{{ STATIC_URL }}img/Slide 2.png"></center>
	  </div>
    <div class="item after that">
    	<center><img src="{{ STATIC_URL }}img/Slide 3.png"></center>
	  </div>
    <div class="item after that">
      <center><img src="{{ STATIC_URL }}img/Slide 4.png"></center>
    </div>
    <div class="item after that">
      <center><img src="{{ STATIC_URL }}img/Slide 5.png"></center>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row" style="text-align:center; padding-bottom: 50px">
    <div class="span4">
        Sign up or sign in to start sharing and searching!
    </div>
    <div class="span4">
        Share a product you’ve bought!
    </div>
    <div class="span4">
        Search for a product to buy locally!
    </div>
</div>



{% endblock %}

